<suite name="TestSuite">
<test name="FireFox Test">
<parameter name="origin" value="New York" />
<parameter name="dest" value="Chicago" />
<parameter name="depDate" value="28/10/2017" />
<parameter name="retDate" value="31/10/2017" />
	<classes>
		<class name="tutorialselenium.TestNG_ParametersAndDataProviders_31">
		<methods>
			<include name="searchFlightsWithMultiData" />
		</methods>
		</class>
	</classes>
</test>
</suite>